endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "mysql://root@localhost/4seasons?charset=utf8mb4"

set sv_enforceGameBuild 2545
sv_maxclients 5

sv_licenseKey "cfxk_1YwEzsS4RIENyu0IcFkod_O1uxB"
set steam_webApiKey "none"

sv_hostname "4Seasons RP | V2 INCOMING"
sets sv_projectName "4Seasons RP | V2 INCOMING"
sets sv_projectDesc "4Seasons RP | V2 INCOMING"

sets tags "4SEASONS, V2, INCOMING"
sets locale "pt-PT"
load_server_icon myLogo.png

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# QBCore locale config
setr qb_locale "pt"

# QBCore UseTarget
setr UseTarget true

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure [core]
ensure [4srp]
ensure [standalone]
ensure [maps]
ensure [qpixel-vehicles]
ensure pma-voice

## Permissions ##
add_ace group.admin command allow # allow all commands
add_principal identifier.license:0202fae72538b3b86fdb73a9f4ced86ba850cd33 qbcore.god #REI
add_principal identifier.license:837cfb2232ac13889b8749b11670c242d76822e5 qbcore.god #Diogo_Oliveira27

# Resources
add_ace resource.4srp-core command allow # Allow 4srp-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands
